<h1>Sign in</h1>

<form method='post' action='/sessions'>
	<p>
		<input type='text' name='email' placeholder='Email'>
	</p>
	<p>
		<input type='password' name='password' placeholder='Password'>
	</p>
	<input type='submit' value='Sign in' class='button'>
	<span class='paragraph'><a href="/users/recover">Forgotten password?</a></span>
</form>

