	<h1>Please enter your email</h1>

	<form action='/recover' method ='post'>
		<p class='paragraph'>
			A recovery password will be sent
		</p>
		<p>
			<input name='email' type='text'>
		</p>
		<p>
			<input type='submit' value='Send' class='button'>
		</p>
	</form>