<li class="link">
	<a class="title" href="<%= link.url %>" target="_blank"><%= link.title %></a>
	<div class="description">
	    <%= link.description %>
	</div>
	<span class="source">
		added on <%= link.created_on %> by 
		<a href="#">megs@makersacademy.com</a>
	</span>
</li>